/* Jacket Tests
 * Take a look around and see what Jacket can do. */
/* Single jacket context.
   The matching jacket will be output. */
.misty {
  font-size: 1rem;
  content: 'My rules will be output.';
  top: 30px;
}

/* Single jacket context, with selector.
   The matching jacket will be output wrapped in the selector. */
.blizzard {
  font-size: 1rem;
}
.freezing .blizzard {
  content: 'My rules will be output.';
  max-width: 90%;
}

/* Multiple Jacket contexts.
   If any jacket context matches a value the jacket will be output. */
.drizzle {
  font-size: 1rem;
  content: 'My rules will be output.';
  width: 100%;
  content: 'My rules will also be output.';
  background: none;
}

/* Multiple values in a single Jacket.
   If a jacket context matches any of the values the jacket will be output. */
.sunny {
  font-size: 1rem;
  content: 'My rules will be output.';
  margin: 1.618rem 0;
}

/* Multiple contexts and multiple values in a single Jacket.
   If a jacket context matches any of the values the jacket will be output. */
.cafe-race {
  font-size: 1rem;
  content: 'My rules will be output.';
  position: absolute;
  content: 'My rules will be output, once plain, once wrapped.';
  top: 3em;
}
.triumph .cafe-race {
  content: 'My rules will be output, once plain, once wrapped.';
  top: 3em;
}

/* Conditional logic with nested jackets.
   You can create 'and' logic by nesting jackets. */
.soire {
  font-size: 1rem;
  content: 'My rules will be output.';
  background-image: url(juggers.gif);
}

/* A simple media query fallback mixin built with Jacket. */
/* Output media queries */
@media (min-width: 30em) and (orientation: portrait) {
  .casual {
    color: green;
    height: 0.5vh;
  }
}

/* Output rules without queries (probably in their own stylesheet) */
.casual {
  color: green;
  height: 0.5vh;
}

/* Output media queries and wrapped rules without queries in the same stylesheet */
@media (min-width: 30em) and (orientation: portrait) {
  .casual {
    color: green;
    height: 0.5vh;
  }
}
.lt-ie9 .casual {
  color: green;
  height: 0.5vh;
}
