///////////////////////////////////////////////////////////
// Jacket
// Conditional Styles with Sass. Dress you CSS appropriately.
///////////////////////////////////////////////////////////

// Jacket is a Compass component that prints and hides styles based on
// context variables you set in your stylesheet. Write and maintain a master
// stylesheet, then output custom tailored stylesheets for modern and legacy
// browsers, site and app builds, or any other context you can think of.

///////////////////////////////////////////////////////////
// Settings variables
///////////////////////////////////////////////////////////

// Default list of jacket contexts.
$jacket: null !default;

///////////////////////////////////////////////////////////
// Jacket mixin
// Takes a list of jacket contexts.
// Outputs a block of styles if a context is set.
///////////////////////////////////////////////////////////
@mixin jacket($contexts...) {
	$matchResult: jacket-match($contexts);
	$naked: nth($matchResult, 1);
	$selector-string: nth($matchResult, 2);
	
  // If the weather is right, output that jacketed code!
  @if $naked {
    @content;
  }
  @if $selector-string != '' {
    #{$selector-string} {
      @content;
    }
  }

	// there is bad weather down here don't output nothing
}

///////////////////////////////////////////////////////////
// jacket-match function
// Takes a list of jacket contexts.
// Returns a list of two elements:
// first Element is true if there was at keast one context wothout a .wrapping-selector
// that matched against the $jacket variable. returns false otherwise
// Second element is a String of the resulting wrapping Selectors or an empty
// String '' if there was no context woth a .wrapping-selector
// that matched against the $jacket variable. 
///////////////////////////////////////////////////////////
@function jacket-match($contexts...) {
	// unpack stangely packed lists
	@if (length($contexts) == 1){
	  $contexts:nth($contexts, 1);
	}
	

  $naked: false;
  $selectors: ();
  $filtered: ();
  $selector-string: '';

  // If jacket is a single context and selector list, encapsulate.
  @if list-separator($jacket) == 'space' {
    $jacket: $jacket, null !global;
  }

  // Test if a jacket context and jacket value match.
  @each $item in $jacket {
    @each $context in $contexts {
	

      @if index($context, nth($item, 1)) and not ($context == null) {

        // Gather wrapping selectors.
        @if length($item) == 1 {
          $naked: true;
        }
        @if length($item) == 2 {
          $selectors: append($selectors, nth($item, 2) + ' &');
        }
      }
    }
  }

  // Filter out duplicate selectors.
  // If reject() is added to Sass we can remove the $filtered holder variable.
  @each $selector in $selectors {
    @if not index($filtered, $selector) {
      $filtered: append($filtered, $selector);
    }
  }

  // Build the selector string.
  @each $selector in $filtered {
    @if $selector-string != '' {
      $selector-string: $selector-string + ", ";
    }
    $selector-string: $selector-string + $selector;
  }

  // return Result
  @return $naked, $selector-string;
}


///////////////////////////////////////////////////////////
// Jacket function
// Takes a list of jacket contexts.
// Outputs a value if a context is set.
///////////////////////////////////////////////////////////
@function jacket($value, $contexts...) {
	// unpack stangely packed lists
	@if (length($contexts) == 1){
	  $contexts:nth($contexts, 1);
	}

	$matchResult:jacket-match($contexts);
	@if ( nth($matchResult, 1)  or (nth($matchResult, 2) != '')){
		// If the weather is right, return the value!
		@return $value;
	}

  // Else return null. If null is the only value for a selector, the selector
  // will not be printed.
  @return null;
}

///////////////////////////////////////////////////////////
// jacket-else function
// Takes a list of jacket contexts.
// Outputs a value if a context is set.
// Outputs another value if a context is not set.
///////////////////////////////////////////////////////////
@function jacket-else($value, $else, $contexts...) {
	// unpack stangely packed lists
	@if (length($contexts) == 1){
	  $contexts:nth($contexts, 1);
	}

	// If the weather is right, return the value!
	@if (jacket(true,$contexts)){
		@return $value;
	}

  // Else, rainy weather, but retrun at least something else.
  @return $else;
}

///////////////////////////////////////////////////////////
// jacket-add-contexts function
// Function to add Contexts to the Jacket Context.
// Outputs The new Jacket Variable, which has already been set globally
// Contexts have to be seperated by comma, wrapping selector associated
// have to be seperated from their context by space.
///////////////////////////////////////////////////////////
@function jacket-add-contexts($contexts...) {
	@each $context in $contexts {
		@if ($jacket == null){
			$jacket:$context !global;
		}@else{
			$jacket:append($jacket, $context, $separator:comma) !global;
		}
	}
	@return $jacket;
}
